[submodule "vendor/plugins/rails"]
	path = vendor/plugins/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vendor/plugins/ragtag"]
	path = vendor/plugins/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vendor/plugins/surround"]
	path = vendor/plugins/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vendor/plugins/unimpaired"]
	path = vendor/plugins/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vendor/plugins/fugitive"]
	path = vendor/plugins/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vendor/plugins/markdown"]
	path = vendor/plugins/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vendor/plugins/endwise"]
	path = vendor/plugins/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vendor/plugins/ctrlp"]
	path = vendor/plugins/ctrlp
	url = git://github.com/kien/ctrlp.vim
[submodule "vendor/plugins/ack"]
	path = vendor/plugins/ack
	url = git://github.com/mileszs/ack.vim
[submodule "vendor/plugins/repeat"]
	path = vendor/plugins/repeat
	url = git://github.com/tpope/vim-repeat
[submodule "vendor/plugins/commentary"]
	path = vendor/plugins/commentary
	url = git://github.com/tpope/vim-commentary
[submodule "vendor/plugins/eunuch"]
	path = vendor/plugins/eunuch
	url = git://github.com/tpope/vim-eunuch
[submodule "vendor/plugins/bundler"]
	path = vendor/plugins/bundler
	url = git://github.com/tpope/vim-bundler
[submodule "vendor/plugins/coffee-script"]
	path = vendor/plugins/coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "vendor/plugins/javascript"]
	path = vendor/plugins/javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "vendor/plugins/puppet"]
	path = vendor/plugins/puppet
	url = git://github.com/ajf/puppet-vim
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/skwp/vim-rspec
[submodule "vendor/plugins/ruby"]
	path = vendor/plugins/ruby
	url = git://github.com/vim-ruby/vim-ruby
[submodule "vendor/plugins/scss"]
	path = vendor/plugins/scss
	url = git://github.com/cakebaker/scss-syntax.vim
[submodule "vendor/plugins/solarized"]
	path = vendor/plugins/solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "vendor/plugins/tabular"]
	path = vendor/plugins/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vendor/plugins/space"]
	path = vendor/plugins/space
	url = git://github.com/spiiph/vim-space.git
