[submodule "vendor/plugins/rails"]
	path = vendor/plugins/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vendor/plugins/ragtag"]
	path = vendor/plugins/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vendor/plugins/vividchalk"]
	path = vendor/plugins/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
