[submodule "vendor/plugins/rails"]
	path = vendor/plugins/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vendor/plugins/ragtag"]
	path = vendor/plugins/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vendor/plugins/vividchalk"]
	path = vendor/plugins/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vendor/plugins/surround"]
	path = vendor/plugins/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vendor/plugins/unimpaired"]
	path = vendor/plugins/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vendor/plugins/fugitive"]
	path = vendor/plugins/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vendor/plugins/markdown"]
	path = vendor/plugins/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vendor/plugins/speeddating"]
	path = vendor/plugins/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "vendor/plugins/endwise"]
	path = vendor/plugins/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/tpope/vim-haml.git
